<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap" rel="stylesheet">
        <style>@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');</style>     
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo"> 
                <a href="/"> <img src="images/logo-mercado-liebre.svg"  alt="Logo de MercadoLiebre"></a>
            </div>
            <div  class="form" action="#"  method="GET">
                <input type="textarea" name="buscar" id="buscar" placeholder="Buscar"></input>
            </div>
            <div><p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p></div>
        </div>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
<form>

<div class="pag-registro">
    
    <label for="datos-perfil"> Ingresa:</label><br>  
    <input type="email" name="email" id="email" placeholder="Email"></input> 
    <br>  
    <input type="password" name="contraseña" id="contraseña" placeholder="Introduce tu contraseña"></input>
    <br>
    <div class="botones">
    <button class="buttonSub" type="submit"> <a href="/">  Enviar   </a></button>
    <button class="buttonRes" type="reset">  Resetear  </button>
    </div>
</div>
</form>
</body>
<footer class="footer-style" style="text-align:center">
    <div class="footers"> 
        <div class="footer-icon">
            <i class="fas fa-credit-card"></i>
        </div>
            <p class="titulares">Paga con tarjeta o en efectivo</p>
            <p class="cuerpos-texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
    </div>
    <div class="footers">   
        <div class="footer-icon">
        <i class="fas fa-gift"></i>
        </div>
            <p class="titulares">Envio gratis desde $2.500</p>
            <p class="cuerpos-texto">
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
    </div>
    <div class="footers">       
        <div class="footer-icon">
        <i class="fas fa-user-shield"></i></div>
            <p class="titulares">Seguridad, de principio a fin</p>
            <p class="cuerpos-texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
    </div> 
        <br>
        </footer> 
     <p style="text-align:left" class="cuerpos-texto">Copyright @ 1999-2020 Mercadoliebre S.R.L.</p>         
    </body>
</html>
